venv/
# Pytest cache
.pytest_cache/

# Ignore all report-related folders in root
/report*/
/reports*/
//smoke_report*/
//smoke_reports*/

# Optional: ignore HTML files in the root
/*.html
/smoke_reports/
**/.pytest_cache/
__pycache__/